.main-console-component {
    background-image: linear-gradient(90deg, rgba(0,0,0,0.4) 35%, rgba(0,0,0,0.4) 100%), url('@/assets/images/galaxy.webp');
    background-size: 130%;
    background-repeat: no-repeat;
    transition: all 0.4s;

    .header-title-wrapper {
        width: 100%;
        .main-console-title {
            background: url('@/assets/images/text-bg.webp');
            // background-size: 100%;
            background-clip: text;
            // background-position: 50%;
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            color: transparent;
            animation: title-space 20s ease-in-out infinite;
        }
    }
}

@keyframes title-space {
    0% { background-size: 100%; }
    50% { background-size: 120%; }
    100% { background-size: 101%; }
}